<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291207988042-4ld24manes76bp1lv41nmttl97rqlpqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291207988042-4ld24manes76bp1lv41nmttl97rqlpqj</string>
	<key>API_KEY</key>
	<string>AIzaSyADAT0RrLjySjo-MuCT5Bt4MazYVSLVJgY</string>
	<key>GCM_SENDER_ID</key>
	<string>291207988042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.homeCode</string>
	<key>PROJECT_ID</key>
	<string>home-code-eda1f</string>
	<key>STORAGE_BUCKET</key>
	<string>home-code-eda1f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291207988042:ios:d8ae3ab901b950128ab7b3</string>
</dict>
</plist>